*{
    margin: 0;
    padding: 0;
}

/* Template Holder */
.main-container, .Template{
    display:flex;
    flex-wrap: wrap;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    overflow:hidden
}


/* Template */
.Template, .img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.resizer:hover{
    border: 1px solid black;
}

.resizer{
    overflow:hidden
}

.scaleText{
    text-align: center;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin: auto;
}

.custom-file-upload{
    padding: 0.4em;
    cursor: pointer;
    border: 1px solid #007bff;
    border-radius: 2px;
    color: #0275d8;
}

.custom-file-upload:hover{
    padding: 0.4em;
    cursor: pointer;
    border: 1px solid #007bff;
    border-radius: 2px;
    color: white;
    background-color: #007bff;
}

.columns{
    text-align: center;
}

td{
    border: 1px solid black;
}